@mixin os300 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
@mixin os400 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
@mixin os600 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
@mixin os700 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
@mixin os800 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

@mixin pd600{
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}
@mixin pd700{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
@mixin pd900{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}